@import "../../styles/variables.scss";

.logos-tile {
  margin: 45px 0;
  &__header {
    display: flex;
    justify-content: space-between;
    &__top_text {
      font-family: "Bebas Neue", sans-serif;
      text-transform: uppercase;
      color: #00aeef;
      font-size: 36px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      @media (max-width: 616px) {
        font-size: 26px;
      }
    }
    margin-bottom: 25px;
  }
  &__body {
    width: auto;
    padding: 20px 20px;
    &__content {
      text-align: center;
      & a {
        padding: 20px;
      }
    }
  }
}
