@import "../../styles/variables.scss";

.join-professional {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  &__top-container {
    display: flex;
    justify-content: flex-start;
    width: 903px;
    &__title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 14px;
    }
  }

  &__middle-container {
    display: flex;
    flex-direction: column;
    width: 903px;
    margin: auto;
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15), 0 0.5px 0px rgba(0, 0, 0, 0.12),
      1px 0px 0px rgba(0, 0, 0, 0.12), -1px 0px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    &__input {
      width: 100%;
      max-width: 409px;
      height: 48px;
      min-height: 48px;
      border-radius: 5px;
      margin-left: 0px;
      background-color: #cccccc00;
      font-family: "Arial";
      padding: 15px;
      font-size: 14px;
      border: 1px solid #ccc;
    }
    &__multi_input {
      width: 100%;
      max-width: 409px;
      height: 148px;
      min-height: 48px;
      border-radius: 5px;
      margin-left: 0px;
      background-color: #cccccc00;
      font-family: "Arial";
      padding: 15px;
      border: 1px solid #ccc;
    }
    &__has__error {
      width: 100%;
      max-width: 409px;
      height: 48px;
      border-radius: 5px;
      margin-left: 0px;
      padding: 15px;
      font-family: "Arial";
      background-color: #cccccc00;
      color: #f44336;
      border: 1px solid #f44336;
    }
    &__checkbox {
      width: 409px;
    }
  }
  &__separator {
    display: flex;
    &__text {
      font-size: 15px;
      font-weight: 600;
    }
    &__devider {
      margin: 10px 5px;
      border-top: 1px solid black;
      width: 30px;
    }
  }
  &__bottom-container {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 200;
    display: flex;
    &__text-block {
      margin-left: 15px;
    }
    &__blue-text {
      color: $aqua-blue;
      cursor: pointer;
    }
  }
  &__error {
    font-size: 16px;
    color: red;
  }
  &__office-pictures {
    height: 50px;
    width: 50px;
    border: 0.5px solid #ccc;
  }
}

form {
  width: 90%;
  // max-width: 670px;
  margin: 25px auto;
  input,
  textarea {
    background-color: white !important;
  }
}
.input-row {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}
.columns {
  display: flex;
  flex-direction: row;
}
label {
  display: block;
  padding-bottom: 5px;
}

.form-message {
  font-size: 10px;
  padding-top: 2px;
}
.form-message.valid {
  color: #4caf50;
}
.form-message.invalid {
  color: #f44336;
}

.join-professional__invalid {
  font-size: 10px;
  padding-top: 2px;
  color: #f44336 !important;
}
.join-professional__valid {
  font-size: 10px;
  padding-top: 2px;
  color: #4caf50 !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"] {
  padding: 5px !important;
}
.MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]
  .MuiAutocomplete-input:first-child {
  font-size: 14px;
}
input::placeholder,
textarea::placeholder,
.ant-select-selection-placeholder,
.ant-select-selector input::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6) !important;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.join-professional .submit-button,
.submit-btn {
  background-color: $aqua-blue !important;
  height: 45px;
  width: 145px;
  font-size: 17px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  padding: 15px 32px;
  text-align: center;
  border-radius: 5px;
  &:hover {
    background-color: #2585ad;
  }
  &:disabled {
    background-color: #162a33;
  }
}

.join-professional .margin-top {
  margin-top: 20px;
}
.join-professional .margin-bottom {
  margin-top: 20px;
}

.add-button {
  background-color: $--filter-gray;
  height: 45px;
  width: 80px;
  font-size: 17px;
  color: white;
  border: none;
  text-align: center;
  border-radius: 5px;
  &:hover {
    background-color: #3b3b3d;
  }
}
.join-professional__loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
  box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15), 0 0.5px 0px rgba(0, 0, 0, 0.12),
    1px 0px 0px rgba(0, 0, 0, 0.12), -1px 0px 0px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}
.join-professional .custom-error {
  margin-top: 0px !important;
  color: #f44336 !important;
  font-size: 10px !important;
  margin-bottom: 22px !important;
}
#specialities-dropdown {
  position: relative;
  ::after {
    position: absolute;
    content: "v";
    right: 0;
    bottom: 0;
  }
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.664) !important;
}
// .ant-select .ant-select-selection-placeholder{
//   color: rgba(0, 0, 0, 0.3) !important;

// }
// .ant-select-selection__placeholder {
//   color: blue !important;
// }
.ant-picker-time-panel-column {
  padding-bottom: 10px !important;
}

.ql-container {
  border-bottom-left-radius: 0.5em !important;
  border-bottom-right-radius: 0.5em !important;
  background: #fefcfc !important;
}
.ql-bubble .ql-editor {
  border: 1px solid #ccc !important;
  border-radius: 0.5em !important;
  width: 100% !important;
}
.ql-bubble .ql-editor::placeholder {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.2) !important;
}
.ql-editor {
  min-height: 18em !important;
}
.ant-modal {
  width: 30% !important;
  @media (max-width: 400px) {
    width: 95% !important;
  }
  @media (min-width: 400px) and (max-width: 700px) {
    width: 80% !important;
  }
  @media (min-width: 701px) and (max-width: 1153px) {
    width: 50% !important;
  }
}

.title_nonprofit {
  // text-align: left;
  font-family: "Fjalla One", sans-serif;
  // text-transform: uppercase;
  color: $aqua-blue;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.phone_input {
  height: 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 6.5px 11px;
  width: 100%;
  height: 40px;
}
.phone_input:focus {
  outline: none;
}
.badge {
  margin-bottom: 5px;

  .badge-item {
    border: 1px solid #000;
    padding: 5px 10px 2px;
    border-radius: 5px;
    margin-left: 5px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 10px;
  }
}

.mb-10 {
  margin-bottom: 10px !important;
}

.button-panel .ant-col {
  display: inline-block;
  margin-right: 10px;

  &:last-child {
    float: right;
    margin-right: 0;
  }
}

.d-block {
  display: block !important;
}
