@import '../../styles/variables.scss';

.header-from{
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        &__main{
            background: white;
            border-radius: 5px;
            padding: 20px;
            &__input-block{
                display: flex;
                justify-content: space-between;   
                font-size: 19px;                
            }
        }
    
}
.input-form{
    width: 350px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 0px;
    box-shadow: 0 -2px 0px rgba(0, 0, 0, 0.15), 0 0.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 0px rgba(0, 0, 0, 0.12), -1px 0px 0px rgba(0, 0, 0, 0.12);
    padding: 15px;
}
