.sing-up {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 40px;
}

.sing-up__top-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    width: 903px;
}

.sing-up__top-container__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 14px;
}

.sing-up__middle-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 903px;
    height: 480px;
    -webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15),
        0 0.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 0px rgba(0, 0, 0, 0.12),
        -1px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 0px rgba(0, 0, 0, 0.15), 0 0.5px 0px rgba(0, 0, 0, 0.12),
        1px 0px 0px rgba(0, 0, 0, 0.12), -1px 0px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sing-up__middle-container__input {
    width: 409px;
    height: 48px;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-left: 0px;
    -webkit-box-shadow: 0 -2px 0px rgba(0, 0, 0, 0.15),
        0 0.5px 0px rgba(0, 0, 0, 0.12), 1px 0px 0px rgba(0, 0, 0, 0.12),
        -1px 0px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0 -2px 0px rgba(0, 0, 0, 0.15), 0 0.5px 0px rgba(0, 0, 0, 0.12),
        1px 0px 0px rgba(0, 0, 0, 0.12), -1px 0px 0px rgba(0, 0, 0, 0.12);
    padding: 15px;
}

.sing-up__middle-container__checkbox {
    width: 409px;
}

.sing-up__separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sing-up__separator__text {
    font-size: 15px;
    font-weight: 600;
}

.sing-up__separator__devider {
    margin: 10px 5px;
    border-top: 1px solid black;
    width: 30px;
}

.sing-up__bottom-container {
    font-size: 15px;
    font-weight: 200;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sing-up__bottom-container__text-block {
    margin-left: 15px;
}

.sing-up__bottom-container__blue-text {
    color: #39a2cf;
}

.sing-up__error {
    font-size: 16px;
    color: red;
}

.sing-up__loader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*# sourceMappingURL=styles.css.map */
