.users_page {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  overflow-x: hidden;
  &__header {
    display: flex;
    justify-content: space-between;
    &__top_text {
      font-size: 20px;
      font-weight: 500;
      margin-top: 50px;
      padding-left: 25px;
    }
    margin-bottom: 25px;
  }
  &__body {
    padding: 0 24px;
    &__block {
      margin: 25px;
    }
    &_button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 20px;
      padding: 20px;
    }
  }
  &__loader {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px;
  }
}
@media (max-width: 992px) {
  .visible_md {
    display: none !important;
  }
  .visible_sm {
    display: flex;
  }
}
@media (min-width: 993px) {
  .visible_md {
    display: flex;
  }
  .visible_sm {
    display: none !important;
  }
}
.slick-list {
  height: 450px;
}
